{% extends 'base.html' %}

{% block content %}
<article>
    <header>
        <h2>Редактирование термина #{{ term_obj.id }}</h2>
    </header>
    
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id-term">Термин:</label><br>
            <input type="text" id="id-term" name="term" value="{{ term_obj.term }}" required>
        </p>
        <p>
            <label for="id-definition">Определение:</label><br>
            <textarea id="id-definition" name="definition" rows="5" required>{{ term_obj.definition }}</textarea>
        </p>
        <button type="submit">Сохранить изменения</button>
    </form>
    
    <p><a href="{% url 'glossary' %}">Отмена и возврат</a></p>
</article>
{% endblock %}