{% extends 'base.html' %}

{% block content %}
<article>
    <header>
        <h1>{% if product.id %}Редактирование товара{% else %}Добавить новый товар{% endif %}</h1>
    </header>

    <form method="post">
        {% csrf_token %}
        
        <p>
            <label for="id-name">Название товара:</label><br>
            <input type="text" id="id-name" name="name" value="{{ product.name }}" required>
        </p>

        <p>
            <label for="id-price">Цена (руб):</label><br>
            <input type="number" id="id-price" step="0.01" name="price" value="{{ product.price }}" required>
        </p>

        <p>
            <label for="id-stock">Остаток на складе:</label><br>
            <input type="number" id="id-stock" name="stock" value="{{ product.stock|default:0 }}" required>
        </p>

        <p>
            <label for="id-unit">Единица измерения:</label><br>
            <select id="id-unit" name="unit">
                <option value="шт" {% if product.unit == 'шт' %}selected{% endif %}>Штуки</option>
                <option value="кг" {% if product.unit == 'кг' %}selected{% endif %}>Килограммы</option>
                <option value="л" {% if product.unit == 'л' %}selected{% endif %}>Литры</option>
            </select>
        </p>

        {% if not product.id %}
        <p>
            <label for="id-category">Категория:</label><br>
            <select id="id-category" name="category" required>
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="id-manufacturer">Производитель:</label><br>
            <select id="id-manufacturer" name="manufacturer" required>
                {% for man in manufacturers %}
                    <option value="{{ man.id }}">{{ man.name }}</option>
                {% endfor %}
            </select>
        </p>
        {% endif %}

        <button type="submit">Сохранить</button>
    </form>

    <p><a href="{% url 'product_list' %}">Отмена и возврат в каталог</a></p>
</article>
{% endblock %}